.hero {
  background: radial-gradient(
      circle at 50% 50%,
      rgba(16, 185, 129, 0.1) 0%,
      transparent 50%
    ),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1497435334941-8c899ee9e8e9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2074&q=80");
  /* background-size: cover;
    background-position: center; */
  background-attachment: fixed;
}
